*, *::before , *::after{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  word-break: break-all;
}

main{
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.article{
  display: flex;
  flex-direction: column;
  
}

section.Actu{
  display: flex;
  background-color: black;
  height: 50em; width: 130em;
  margin-top: 2em;
  
}

section.Actu-header{
  display: flex;
  flex-direction: row;
  width: 100%; height: 10em ;
  justify-content: space-between;
  align-items: center;
}

.Actu-title{
  color: aliceblue;
  text-decoration:underline;
  text-decoration-color: #3d87f5;
  font-size: x-large; font-weight: bold;
  text-decoration-thickness: 0.3em;
  margin: 1em;
}

.Actu-button {
  color: aliceblue;
  font-size: xx-large; font-weight: bold;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
}

.Actu-button a:hover{
  background-color: rgba(211, 211, 211, 0.396);
}

section.Videos{
  display: flex;
  background-color: black;
  height: 50em; width: 130em;
  margin-top: 2em;
}

section.Videos-header{
  display: flex;
  flex-direction: row;
  width: 100%; height: 10em ;
  justify-content: space-between;
  align-items: center;
}

.Videos-title{
  color: aliceblue;
  text-decoration:underline;
  text-decoration-color: #f66031;
  font-size: x-large; font-weight: bold;
  text-decoration-thickness: 0.3em;
  margin: 1em; margin-right: 0;
}

.Videos-button {
  color: aliceblue;
  font-size: xx-large; font-weight: bold;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
}

.Videos-button a:hover{
  background-color: rgba(211, 211, 211, 0.396);
}

div.sociaux{
  display: flex;
  flex-direction:row ;
}

section.forums{
  display: flex;
  background-color: black;
  height: 50em; width: 65em;
  margin-top: 2em; margin-right: 1em; margin-bottom: 3em;
}

section.forums-header{
  display: flex;
  flex-direction: row;
  width: 100%; height: 10em ;
  justify-content: space-between;
  align-items: center;
}

.forums-title{
  color: aliceblue;
  text-decoration:underline;
  text-decoration-color: lightgray;
  font-size: x-large; font-weight: bold;
  text-decoration-thickness: 0.3em;
  margin: 1em; margin-left: 6.2em; margin-right: 0;
  z-index: 2;
}

.forums-button {
  color: aliceblue;
  font-size: xx-large; font-weight: bold;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px;
}

.forums-button a:hover{
  background-color: rgba(211, 211, 211, 0.396);
}

section.charte{
  display: flex;
  background-color: black;
  height: 50em; width: 65em;
  margin-top: 2em; margin-left: 1em;
  
}

section.charte-header{
  display: flex;
  flex-direction: row;
  width: 100%; height: 10em ;
  justify-content: space-between;
  align-items: center;
}

.charte-title{
  color: aliceblue;
  text-decoration:underline;
  text-decoration-color: lightgray;
  font-size: x-large; font-weight: bold;
  text-decoration-thickness: 0.3em;
  margin: 1em; margin-left: 6.2em;
  z-index: 1;
}








  
