*, *::before , *::after{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  word-break: break-all;
}

html{
  font-size: 62.5%;
  size: 100vh;
}

body{
  background-color: #2e3238;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

header{
  background-color: black;
  width: 100%; height: 15em;
  display: block;
}

nav{
  display: flex;
  flex-direction: row;
  width: 100%; height: 15em;
  align-items: center; justify-content: center;
}

.logo a{
  display: flex;
  flex-direction:row ;
  text-decoration: none; color: aliceblue;
  font-size: x-large; font-weight: bold;
}

.logo h1::first-letter{
  color: #3d87f5;
}

.lcolor{
  color: #f66031;
}

div.button{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-weight: bold ; font-size: x-large;
  margin: 1em;
  
  
}

a.ACTU , a.VIDEOS , a.FORUMS , a.CONTACT {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: aliceblue;
  margin: 0.5em;
  padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.ACTU:hover , a.VIDEOS:hover , a.FORUMS:hover , a.CONTACT:hover {
  background-color: rgba(211, 211, 211, 0.396);}










